.tableContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px black;
  width: 60%;
  padding: 5px;
}
.btnViewReserva {
  border: none;
  background: transparent;
  color: #0c8bf3;
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #546e7a;
}
