* {
  padding: 0;
  margin: 0;
}

body {
  /* background: linear-gradient(90deg, #13072e 0%, #3f2182 61.5%); */
  background: linear-gradient(90deg, #13072e 0%, #3f2182 61.5%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}